# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Node (por si a futuro añades build tools)
node_modules/
npm-debug.log*
yarn-debug.log*
.env
.env.local

# Logs
*.log
logs/

# Build output
dist/
build/
